<extend name="Base/base"/>

<block name="body">
	<div class="handler">
		<a href="{:U('add')}" class="btn btn-blue-o btn-dialog">新增</a>
	</div>
	<table class="list">
		<thead>
		<tr>
			<th>配置项</th>
			<th>说明</th>
			<th class="col-width-10">数据类型</th>
			<th class="col-width-10">排序</th>
			<th class="col-width-15">操作</th>
		</tr>
		</thead>
		<tbody>
		<volist name="_list_" id="item">
			<tr>
				<td>{$item.name}</td>
				<td>{$item.remark}</td>
				<td>
					<switch name="item.type">
						<case value="0">数字</case>
						<case value="1">字符</case>
						<case value="2">文本</case>
						<case value="3">数组</case>
					</switch>
				</td>
				<td>
					<span class="quick-edit-text" data-url="{:U('sort',array('id' => $item['id']))}" data-name="value" data-value="{$item.sort}">{$item.sort}</span>
				</td>
				<td>
					<a href="{:U('edit',array('id' => $item['id']))}" class="btn-dialog">编辑</a>
					<a href="{:U('delete',array('id' => $item['id']))}" class="ajax-get confirm">删除</a>
				</td>
			</tr>
		</volist>
		</tbody>
	</table>
</block>